<form method="post" action="{{ path('app_devis_site_vitrine_delete', {'id': devis_site_vitrine.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devis_site_vitrine.id) }}">
    <button class="btn">Delete</button>
</form>
