{% block sliderAccueil %}
	<div class="mfn-main-slider" id="mfn-rev-slider">
		<div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container sections_style_1">
			<div id="rev_slider_1_2" class="rev_slider fullwidthabanner" data-version="5.0.4.1">
				<ul>
					<li data-transition="fade" data-slotamount="3" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
						<img src="asset/tmp/slider/66.jpg" alt="" width="1600" height="600" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina/>

						<div class="tp-caption lfb stb" data-x="left" data-y="center" data-voffset="0" data-hoffset="0" data-speed="600" data-start="900" data-easing="Power4.easeOut" data-endeasing="Power4.easeIn" style="z-index: 2;">
							<div class="tp-caption3--wd-3 ban-titre">Création de site internet</div>
							<div class="tp-caption3--wd-1 ban-soustitre">Faites connaître votre entreprise avec un site web professionnel !</div>

							<div class="tp-caption3--wd-2 ban-texte">✔ Création de sites web sur mesure.</div>

							<div class="tp-caption3--wd-4 ban-texte">✔ Développement d’e-commerce.</div>
							<div class="tp-caption3--wd-4 ban-texte">✔ Design UX/UI intuitif et attractif.</div>
							<div class="tp-caption3--wd-4 ban-texte">✔ Optimisation SEO pour un meilleur référencement.</div>
							<div class="tp-caption3--wd-4 ban-texte">✔ Maintenance et support technique.</div>
						</div>
					</li>

					<li data-transition="fade" data-slotamount="2" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
						<img src="asset/tmp/slider/66.jpg" alt="" width="2048" height="600" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina/>

						<div class="tp-caption lfb stb" data-x="left" data-y="center" data-voffset="0" data-hoffset="0" data-speed="600" data-start="900" data-easing="Power4.easeOut" data-endeasing="Power4.easeIn" style="z-index: 2;">
							<div class="tp-caption3--wd-3 ban-titre">Développement web</div>
							<div class="tp-caption3--wd-1 ban-soustitre">Optimisez la gestion de votre entreprise !</div>

							<div class="tp-caption3--wd-2 ban-texte">✔ Développement d'applications web sur mesure.</div>

							<div class="tp-caption3--wd-4 ban-texte">✔ Création de plateformes web de services et de gestion.</div>
							<div class="tp-caption3--wd-4 ban-texte">✔ Solutions CRM et ERP personnalisées pour la gestion d'entreprise.</div>
							<div class="tp-caption3--wd-4 ban-texte">✔ Intégration des dernières technologies.</div>
							<div class="tp-caption3--wd-4 ban-texte">✔ Sécurité renforcée et performances optimisées.</div>
							<div class="tp-caption3--wd-4 ban-texte">✔ Maintenance continue et support technique.</div>
						</div>
					</li>
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
						<img src="asset/tmp/slider/66.jpg" alt="" width="2048" height="600" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina/>

						<div class="tp-caption lfb stb" data-x="left" data-y="center" data-voffset="0" data-hoffset="0" data-speed="600" data-start="900" data-easing="Power4.easeOut" data-endeasing="Power4.easeIn" style="z-index: 2;">
							<div class="tp-caption3--wd-3 ban-titre">Consulting & Solutions IT</div>
							<div class="tp-caption3--wd-1 ban-soustitre">Boostez votre entreprise avec des solutions IT sur mesure !</div>

							<div class="tp-caption3--wd-2 ban-texte">✔ Conseil en transformation digitale.</div>

							<div class="tp-caption3--wd-4 ban-texte">✔ Développement et intégration de logiciels.</div>

							<div class="tp-caption3--wd-4 ban-texte">✔ Sécurité informatique avancée.</div>
							<div class="tp-caption3--wd-4 ban-texte">✔ Gestion de projets IT.</div>
							<div class="tp-caption3--wd-4 ban-texte">✔ Support technique 24/7.</div>
						</div>
					</li>

					<li data-transition="fade" data-slotamount="4" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
						<img src="asset/tmp/slider/66.jpg" alt="" width="2048" height="600" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina/>

						<div class="tp-caption lfb stb" data-x="left" data-y="center" data-voffset="0" data-hoffset="0" data-speed="600" data-start="900" data-easing="Power4.easeOut" data-endeasing="Power4.easeIn" style="z-index: 2;">
							<div class="tp-caption3--wd-3 ban-titre" style="color: #b1c700; font-size:
																																																																													                                            50px; font-weight:bold;
																																																																													                                            padding-left:80px;padding-top:80px;">Publicité digitale</div>

							<div class="tp-caption3--wd-1 ban-sous" style="color: #ffffff;font-size:
																																																																													                                            20px; font-weight:bold;
																																																																													                                            margin-top:50px;
																																																																													                                            padding-left:80px;">Boostez votre visibilité en ligne !</div>

							<div class="tp-caption3--wd-2 ban-texte" style="color: #ffffff;font-size:
																																																																													                                            15px; font-weight:none;
																																																																													                                            margin-top:30px;
																																																																													                                            padding-left:80px;">✔ Campagnes publicitaires Google Ads et réseaux sociaux.</div>

							<div class="tp-caption3--wd-4 ban-texte" style="color: #ffffff;font-size:
																																																																													                                            15px; font-weight:none;
																																																																													                                            margin-top:30px;
																																																																													                                            padding-left:80px;">✔ Stratégies de marketing digital ciblées et optimisées.</div>
							<div class="tp-caption3--wd-4 ban-texte" style="color: #ffffff;font-size:
																																																																													                                            15px; font-weight:none;
																																																																													                                            margin-top:30px;
																																																																													                                            padding-left:80px;">✔ Création de contenus publicitaires percutants (bannières, vidéos, etc.).</div>
							<div class="tp-caption3--wd-4 ban-texte" style="color: #ffffff;font-size:
																																																																													                                            15px; font-weight:none;
																																																																													                                            margin-top:30px;
																																																																													                                            padding-left:80px;">✔ Gestion et optimisation du ROI (retour sur investissement).</div>
							<div class="tp-caption3--wd-4 ban-texte" style="color: #ffffff;font-size:
																																																																													                                            15px; font-weight:none;
																																																																													                                            margin-top:30px;
																																																																													                                            padding-left:80px;">✔ Publicité programmatique pour toucher votre audience idéale.</div>
							<div class="tp-caption3--wd-4 ban-texte" style="color: #ffffff;font-size:
																																																																													                                            15px; font-weight:none;
																																																																													                                            margin-top:30px;
																																																																													                                            padding-left:80px;">✔ Reporting détaillé et analyse des performances.</div>
						</div>
					</li>
				</ul>
				<div class="tp-bannertimer tp-bottom flv_viz_hid"></div>
			</div>
		</div>
	</div>
{% endblock %}
