{% block sliderSiteweb %}
	<div class="mfn-main-slider " id="mfn-rev-slider" style="margin-top: 180px;">
		<div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container sections_style_1">
			<div id="rev_slider_1_2" class="rev_slider fullwidthabanner" data-version="5.0.4.1">
				<ul>
					<li data-index="rs-1" data-slotamount="1" data-saveperformance="off" data-title="" data-description="">
						<!-- MAIN IMAGE -->


						<!-- LAYERS -->
							<div class="tp-caption Gym-Display tp-resizeme " id="slide-1-layer-1" data-x="['-180','-50','-50','10']" data-y="['-20','-80','-80','-30']" data-voffset="['-200','-200','-200','-200']" data-fontsize="['50','50','50','30']" data-width="100%" data-height="auto" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;  font-weight: 200;"> <img src="{{asset('asset/p1.svg')}}" class="pack">

						</div>

						<h2 class="tp-caption Gym-Display tp-resizeme" id="slide-1-layer-1" data-x="['320','600','600','40']" data-hoffset="['-0','-30','-30','-30']" data-y="['-50','-50','-50','270']" data-voffset="['0','0','0','0']" data-fontsize="['40','50','50','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: arial;  font-weight: bold; color:#f78100;">LE PACK ÉCONOMIQUE
						</h2>


						<p class="tp-caption Gym-Display tp-resizeme" id="slide-1-layer-1" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['-30','-20','-20','340']" data-voffset="['0','0','0','0']" data-fontsize="['20','20','20','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 200;color:black;">
							Pour un site web simple et rapide.
						</p>


						<div class="tp-caption Gym-Display tp-resizeme" id="slide-1-layer-1" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['120','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#f78100;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px; width:250px;">
								Nom de domaine et hébergement.
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-1-layer-1" data-x="['620','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['120','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#f78100;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px; width:250px;">
								Responsive Mobile
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-1-layer-1" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['180','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#f78100;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								1 Page web (Site One-Page).
							</span>
						</div>

						<div class="tp-caption Gym-Display tp-resizeme" id="slide-1-layer-1" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['240','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#f78100;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								1 Adresse mail (Pro).
							</span>
						</div>

						<div class="tp-caption Gym-Display tp-resizeme" id="slide-1-layer-1" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['300','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#f78100;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								Formulaire de contact.</span>
						</div>


						<p class="tp-caption Gym-Display tp-resizeme" id="slide-1-layer-1" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['270','-20','-20','520']" data-voffset="['0','0','0','0']" data-fontsize="['20','16','20','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: bold;color:#a10000;">
							Prix:
							<strike>40 000,00 DA</strike>
							38 000,00 DA

						</p>


					</li>

					<li data-index="rs-2" data-slotamount="2" data-saveperformance="off" data-title="" data-description="">
						<!-- MAIN IMAGE -->


						<!-- LAYERS -->
							<div class="tp-caption Gym-Display tp-resizeme " id="slide-2-layer-2" data-x="['-180','-50','-50','10']" data-y="['-20','-80','-80','-30']" data-voffset="['-200','-200','-200','-200']" data-fontsize="['50','50','50','30']" data-width="100%" data-height="auto" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;  font-weight: 200;"> <img src="{{asset('asset/p2.svg')}}" class="pack">

						</div>

						<h2 class="tp-caption Gym-Display tp-resizeme" id="slide-2-layer-2" data-x="['320','600','600','40']" data-hoffset="['-0','-30','-30','-30']" data-y="['-50','-50','-50','270']" data-voffset="['0','0','0','0']" data-fontsize="['40','50','50','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: arial;  font-weight: bold; color:#CCA500;">LE PACK CLASSIQUE
						</h2>


						<p class="tp-caption Gym-Display tp-resizeme" id="slide-2-layer-2" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['-30','-20','-20','340']" data-voffset="['0','0','0','0']" data-fontsize="['20','20','20','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 200;color:black;">
							Pour un site vitrine à votre image.
						</p>


						<div class="tp-caption Gym-Display tp-resizeme" id="slide-2-layer-2" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['120','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#CCA500;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px; width:250px;">
								Nom de domaine / Hébergement
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-2-layer-2" data-x="['620','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['120','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#CCA500;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px; width:250px;">
								Responsive Mobile
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-2-layer-2" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['180','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#CCA500;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								5 Pages web
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-2-layer-2" data-x="['620','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['180','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#CCA500;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								Statistiques
							</span>
						</div>

						<div class="tp-caption Gym-Display tp-resizeme" id="slide-2-layer-2" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['240','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#CCA500;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								5 Adresses mail Pro
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-2-layer-2" data-x="['620','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['240','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#CCA500;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								SEO Référencement Naturel
							</span>
						</div>

						<div class="tp-caption Gym-Display tp-resizeme" id="slide-2-layer-2" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['300','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#CCA500;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								Structure web personnalisée</span>
						</div>


						<p class="tp-caption Gym-Display tp-resizeme" id="slide-2-layer-2" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['270','-20','-20','520']" data-voffset="['0','0','0','0']" data-fontsize="['20','16','20','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: bold;color:#a10000;">
							Prix:
							<strike>50 000,00 DA</strike>
							48 000,00 DA

						</p>


					</li>

					<li data-index="rs-3" data-slotamount="3" data-saveperformance="off" data-title="" data-description="">
						<!-- MAIN IMAGE -->


						<!-- LAYERS -->
							<div class="tp-caption Gym-Display tp-resizeme " id="slide-3-layer-3" data-x="['-180','-50','-50','10']" data-y="['-20','-80','-80','-30']" data-voffset="['-200','-200','-200','-200']" data-fontsize="['50','50','50','30']" data-width="100%" data-height="auto" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;  font-weight: 200;"> <img src="{{asset('asset/p3.svg')}}" class="pack">

						</div>

						<h2 class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['320','600','600','40']" data-hoffset="['-0','-30','-30','-30']" data-y="['-50','-50','-50','270']" data-voffset="['0','0','0','0']" data-fontsize="['40','50','50','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: arial;  font-weight: bold; color:#6A06B2;">LE PACK LE PLUS COMPLET
						</h2>


						<p class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['-30','-20','-20','340']" data-voffset="['0','0','0','0']" data-fontsize="['20','20','20','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 200;color:black;">
							Pour vous imposez en force sur le web.
						</p>


						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['120','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px; width:250px;">
								Nom de domaine / Hébergement (1an)
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['620','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['120','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px; width:250px;">
								Responsive Mobile
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['920','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['120','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px; width:250px;">
								Module Newsletter / E-mailing
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['180','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								10 Pages web
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['620','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['180','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								Statistiques
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['920','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['180','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								Formation & Assistance</span>
						</div>

						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['240','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								5 Adresses mail Pro
							</span>
						</div>
						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['620','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['240','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								SEO Référencement Naturel
							</span>
						</div>

						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['920','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['240','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								CHAT BOT
							</span>
						</div>

						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['300','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								Structure web personnalisée</span>
						</div>


						<div class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['620','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['300','70','70','680']" data-voffset="['0','0','0','0']" data-fontsize="['15','17','17','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:0px;width: 100%;    line-height: 20px; ">
							<span style="background:#6A06B2;color:white; padding: 15px;    display: block; text-align:center;    line-height: 20px;width:250px;">
								Module Acctualités / Blog</span>
						</div>

						<p class="tp-caption Gym-Display tp-resizeme" id="slide-3-layer-3" data-x="['320','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['270','-20','-20','520']" data-voffset="['0','0','0','0']" data-fontsize="['20','16','20','21']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: bold;color:#a10000;">
							Prix:
							<strike>78 000,00 DA</strike>
							75 000,00 DA

						</p>


					</li>

				</ul>
				<div class="tp-bannertimer tp-bottom flv_viz_hid"></div>
			</div>
		</div>
	</div>
{% endblock %}
